/*
 * Copyright 2013 Eukréa Electromatique <denis@eukrea.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 */

#include "imx51.dtsi"

/ {
	model = "Eukrea CPUIMX51";
	compatible = "eukrea,cpuimx51", "fsl,imx51";

	memory {
		reg = <0x90000000 0x10000000>; /* 256M */
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};
};

&iomuxc {
	imx51-eukrea {
		pinctrl_tsc2007_1: tsc2007grp-1 {
			fsl,pins = <
				MX51_PAD_GPIO_NAND__GPIO_NAND 0x1f5
				MX51_PAD_NANDF_D8__GPIO4_0 0x1f5
			>;
		};

		pinctrl_fec: fecgrp {
			fsl,pins = <MX51_FEC_PINGRP2>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <MX51_I2C1_PINGRP1>;
		};
	};
};

&nfc {
	nand-bus-width = <8>;
	nand-ecc-mode = "hw";
	nand-on-flash-bbt;
	status = "okay";
};
