/*
 * Copyright 2013 Data Modul AG
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx6q.dtsi"

/ {
	model = "Data Modul eDM-QMX6 Board";
	compatible = "dmo,imx6q-edmqmx6", "fsl,imx6q";

	aliases {
		gpio7 = &stmpe_gpio;
	};

	memory {
		reg = <0x10000000 0x80000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_3p3v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_otg_vbus: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio7 12 0>;
		};

		reg_usb_host1: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "usb_host1_en";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio3 31 0>;
			enable-active-high;
		};
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rgmii";
	phy-reset-gpios = <&gpio3 23 0>;
	status = "okay";
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2
		     &pinctrl_stmpe>;
	status = "okay";

	stmpe: stmpe1601@40 {
		compatible = "st,stmpe1601";
		reg = <0x40>;
		interrupts = <30 0>;
		interrupt-parent = <&gpio3>;

		stmpe_gpio: stmpe_gpio {
			compatible = "st,stmpe-gpio";
		};
	};

	temp1: ad7414@4c {
		compatible = "ad,ad7414";
		reg = <0x4c>;
	};

	temp2: ad7414@4d {
		compatible = "ad,ad7414";
		reg = <0x4d>;
	};

	rtc: m41t62@68 {
		compatible = "stm,m41t62";
		reg = <0x68>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx6q-dmo-edmqmx6 {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_EIM_A16__GPIO2_IO22 0x80000000
				MX6QDL_PAD_EIM_A17__GPIO2_IO21 0x80000000
			>;
		};

		pinctrl_enet: enetgrp {
			fsl,pins = <MX6QDL_ENET_PINGRP1>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <MX6QDL_I2C2_PINGRP3>;
		};

		pinctrl_stmpe: stmpegrp {
			fsl,pins = <MX6QDL_PAD_EIM_D30__GPIO3_IO30 0x80000000>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <MX6QDL_UART1_PINGRP2>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <MX6QDL_UART2_PINGRP1>;
		};

		pinctrl_usbotg: usbotggrp {
			fsl,pins = <MX6QDL_USBOTG_PINGRP1>;
		};

		pinctrl_usdhc3: usdhc3grp {
			fsl,pins = <MX6QDL_USDHC3_PINGRP2>;
		};
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usb_host1>;
	disable-over-current;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	disable-over-current;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};
